nav {
    background-color: black;
    opacity: 90%;
    color: #aaaaaa;
    text-decoration: none;
}

.my {
    color: gray;
    text-decoration: none;
}

.my:hover{
    color: lightgray;
    text-decoration: none;
    text-shadow: gray;
}
